rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    match /usuarios/{uid} { allow read, write: if signedIn() && request.auth.uid == uid; }
    match /clientes/{id} { allow read, write: if signedIn(); }
    match /pagos/{id} { allow read, write: if signedIn(); }
  }
}
